ANTHROPIC_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MODEL=claude-opus-4-8
# just go to their website to get this info. both are required. sonnet 4.6 fucking sucks for some reason

PROMPT=PROMPT=Examine all screenshots and answer any questions. For multiple choice, think through the problem internally, then output ONLY in this format: Answer: X. For non-multiple-choice questions, output ONLY the final answer. Do not show calculations, reasoning, analysis, corrections, or intermediate thoughts.
# dude this prompt was a bitch to make since claudes being fat, i dont recommend changing it
